<!DOCTYPE html>
<html>
<head>
    <!-- Add buttons -->
    <button id="1DA">1DA</button>
    <button id="7DA">7DA</button>
    <button id="14DA">14DA</button>
    <button id="30DA">30DA</button>
        <!-- Add buttons -->
    <button id="1DA_bar">1DA Bar</button>
    <button id="7DA_bar">7DA Bar</button>
    <button id="14DA_bar">14DA Bar</button>
    <button id="30DA_bar">30DA Bar</button>
    <title>Interactive Visualization</title>
</head>
<body>
    <script>
        document.getElementById('1DA').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/scatter';
        });
        // Define button click event handlers
        document.getElementById('7DA').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/7DA';
        });
        document.getElementById('14DA').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/14DA';
        });
        document.getElementById('30DA').addEventListener('click', function() {
            // Redirect to API route for button 2
            window.location.href = 'http://13.200.99.235:8001/30DA';
        });

        document.getElementById('1DA_bar').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/bar';
        });
        // Define button click event handlers
        document.getElementById('7DA_bar').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/7DA/bar';
        });
        document.getElementById('14DA_bar').addEventListener('click', function() {
            // Redirect to API route for button 1
            window.location.href = 'http://13.200.99.235:8001/14DA/bar';
        });
        document.getElementById('30DA_bar').addEventListener('click', function() {
            // Redirect to API route for button 2
            window.location.href = 'http://13.200.99.235:8001/30DA/bar';
        });
    </script>
</body>
</html>
