<!DOCTYPE html>
<html>
<head>
    <title>Interactive Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plot_volume"></div>
    <div id="plot_avg_token_value"></div>
    <div id="plot_volume_btc"></div>
    <script>
        // Load the Plotly figures from the passed JSON data
        var plotVolumeData = {{ plot_volume_json|safe }};
        Plotly.newPlot('plot_volume', plotVolumeData.data, plotVolumeData.layout);

        var plotAvgTokenValueData = {{ plot_avg_token_value_json|safe }};
        Plotly.newPlot('plot_avg_token_value', plotAvgTokenValueData.data, plotAvgTokenValueData.layout);
        
        var plotVolumeBTCData = {{ plot_volume_btc_json|safe }};
        Plotly.newPlot('plot_volume_btc', plotVolumeBTCData.data, plotVolumeBTCData.layout);
    </script>
</body>
</html>
